<!doctype html>
<!--[if IE 7]> <html class="lt-ie8 lt-ie9"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
%html
  <!--<![endif]-->
  %head
    %title= current_page.data.title || t(:site_name)
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{content: "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}
    %meta{name: "description", content: "#{t(:site_name)} description"}
    %meta{name: "keywords", content: "CSS,HTML,DOM,tutorial,programming,development,reference,examples,source code,browser compatibility,demos,tips,internet explorer,chrome,firefox,safari,SASS,SCSS,LESS,mixins"}
    %meta{property: "og:site_name", content: t(:site_name)}

    = stylesheet_link_tag "application"
    = javascript_include_tag "application"

  %body{class: page_classes}= yield
