<!doctype html>
<!--[if IE 7]> <html class="lt-ie8 lt-ie9"> <![endif]-->
<!--[if IE 8]> <html class="lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
%html
  <!--<![endif]-->
  %head
    %title= current_page.data.title || t(:site_name)
    %meta{charset: "utf-8"}
    %meta{name: "viewport", content: "width=device-width, initial-scale=1"}
    %meta{content: "IE=edge,chrome=1", 'http-equiv' => "X-UA-Compatible"}
    %meta{name: "description", content: "#{t(:site_name)} description"}
    %meta{name: "keywords", content: "CSS,HTML,DOM,tutorial,programming,development,reference,examples,source code,browser compatibility,demos,tips,internet explorer,chrome,firefox,safari,SASS,SCSS,LESS,mixins"}
    %meta{property: "og:site_name", content: t(:site_name)}

    = stylesheet_link_tag "http://fonts.googleapis.com/css?family=Lato:700"
    = stylesheet_link_tag "application"
    = javascript_include_tag "//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"
    :javascript
      (window.jQuery)||document.write('<script src="/javascripts/vendor/jquery.js">\x3C/script>');
    = javascript_include_tag "application"

  %body{class: page_classes}
    %h1= t(:site_name_html)
    .search-form
      %input{name: 'search', type: 'text', placeholder: 'Enter a CSS property', tabindex: "1", autocomplete: 'off', spellcheck: 'false'}
      .results

    = yield

    :javascript
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-44448459-1', 'cssfast.com');
      ga('send', 'pageview');
