%h1.property-title= @data.name
%p.property-description!= @data.description
.edit-link-container.hidden-for-mobile
  %a{href: @editLink} Edit on GitHub

- if @data.syntax?
  %h2.section-header Syntax
  %pre.syntax
    %code= @data.syntax
  - if @data.values?.length > 0
    %table.values
      %thead
        %tr
          %th.value-header Value
          %th Description
      %tbody
        - for value in @data.values
          %tr
            %td= value.value
            %td= "#{if value.default then '(Default) ' else ''}#{value.description}"

- if @data.related?.length > 0
  %h2.section-header Related properties
  %ul.related-properties
    - for related in @data.related
      %li
        %a{href: "/#{related}/"}= related

- if @data.references?.length > 0
  %h2.section-header References
  %ul.references
    - for reference in @data.references
      %li
        %a{href: reference.url, rel: 'nofollow'}= reference.title
